<!--
  Generated template for the UserFeedPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="orange">
    <button ion-button menuToggle icon-only><ion-icon name="menu"></ion-icon></button>
    <ion-title>SocialSolver</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>

	<!--<ion-select [(ngModel)]="filtro">
		<ion-option value="nenhum">Nenhum filtro selecionado</ion-option>
		<ion-option value="categoria">Por categoria</ion-option>
	</ion-select>

	<ion-select [(ngModel)]="">
		<ion-option *ngFor=""></ion-option>
	</ion-select>-->

	<ion-card *ngFor="let report of reportList">
		
		<ion-item>
			<h2>Nome do cidadão</h2>
			<p>{{ report.data }}</p>
		</ion-item>

		<ion-card-content>
			<ion-card-title>{{ report.titulo }}</ion-card-title>
			<p>{{ report.descricao }}</p>
			<ion-badge color="secondary" *ngFor="let categoria of report.categorias" style="margin-right: 10px;">
				{{ categoria }}
			</ion-badge>
		</ion-card-content>

		<ion-row>
			<ion-col>
				<button ion-button icon-left clear small>
					<ion-icon name="thumbs-up"></ion-icon>
					<div>{{ report.ups }}</div>
				</button>
			</ion-col>
			<ion-col>
				<button color="danger" ion-button icon-left clear small>
					<ion-icon color="danger" name="thumbs-down"></ion-icon>
					<div>{{ report.reports }}</div>
				</button>
			</ion-col>
			<ion-col>
				<button ion-button icon-left clear small>
					<ion-icon name="text"></ion-icon>
					<div>2</div>
				</button>
			</ion-col>
			<ion-col center text-center>
				<button ion-button icon-left clear small (click)="presentReportDetail(report)">
					<ion-icon name="eye"></ion-icon>
				</button>
			</ion-col>
		</ion-row>

	</ion-card>

</ion-content>
